/* * {
    box-sizing: border-box;
    font-family: helvetica;
} */

html, body {
    height: 100vh;
    margin: 0;
}


body, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: fit-content;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* height: 15%; */
    margin: 10px;
    height: fit-content;
    max-height: 25%;
}


/* flexbox */
.arrows {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
    max-height: 100%;
    font-size: 5vh;
    user-select: none;
}

.up-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

/* no idea why this is the only selector that works... */
body > footer > div > div.left-down-right-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

/* div.left-right-down-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
} */

#up {
    cursor: pointer;
}

#down {
    padding-right: 10px;
    cursor: pointer;
    
}

#left {
   padding-right: 10px;
   cursor: pointer;   
}

#right {
    cursor: pointer;
}


#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    height: 65%;
    

    border: 2px solid;
}
/* fixed aspect-ratio maintains order of each square */

.square {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    /* margin: 0; 
    border: -1px;*/
    outline: solid 1px ;
    outline-offset: -2px;
    height: 10%;
    width: 6.25%;
    /* min-width: 0; */
    aspect-ratio: 1/1;
    background-color: darkgray;
}
/* height & width depend on number of elements...if 80 els, h:12.5% w:10% will allow 8 rows of 10... */


.available {
    background-color: white;
}

#player, #goal {
    font-size: 3vw;
}

.frustrated {
    animation: shake 0.1s;

}

@keyframes shake {
    0% {transform: translate(10%, 0);}
    50% {transform: translate(-10%, 0);}
    100% {transform: translate(10%, 0);}
}